.navbar
    {
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    }
    .rounder-img 
    {
      width: 60%;
      border-radius: 50%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
      padding: 1em;
      margin-top: 70px;
    }
    footer
    {
    text-align: center;
    padding: 3px;
    background-color: rgb(20, 21, 21);
    color: white;
    }
